h1, h3, p
{
    font-family: 'Raleway', sans-serif;
}

#heading
{
    margin-top: 30px;
    font-size: 30px;
}

.container
{
    text-align: center;
}

.cardBtn
{
    width: 100%;
}

.top-buffer
{
    margin-top: 20px;
}

.miscBtn
{
    margin-left: 8px; 
    margin-right: 8px;
}