h1, h3, p
{
    font-family: 'Raleway', sans-serif;
}

#heading
{
    margin-top: 30px;
    font-size: 30px;
}

.container
{
    text-align: center;
}

.cardBtn
{
    width: 100%;
}

.top-buffer
{
    margin-top: 20px;
}

.miscBtn
{
    margin-left: 15px; 
    margin-right: 15px;
}

.hoverEffect
{
    transition: transform .2s;
}

.hoverEffect:hover 
{
    transform: scale(1.05);
}