.loginForm
{
    margin-top: 30px;
    width: 60%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.loginCard
{
    box-shadow: -3px 4px 10px #4a4a4a77;
}

.loginBtn
{
    width: 70%;
}

.form-group.row
{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5rem;
}

.loginPage
{
    background-color: transparent;
}

body
{
    background-color: transparent;
}

html
{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,226,89,1) 0%, rgba(255,167,81,1) 100%);
}