h1, h3, p
{
    font-family: 'Raleway', sans-serif;
}

html
{
    height: 100%;
    background-color: #f5f5f5;
}

body
{
    background-color: transparent!important;
}

#heading
{
    margin-top: 30px;
    font-size: 30px;
}

#subHeading
{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 24px;
}

.container
{
    text-align: center;
    background-color: #f5f5f5;
}

.cardBtn
{
    width: 100%;
}

.top-buffer
{
    margin-top: 20px;
}

.miscBtn
{
    margin-left: 15px; 
}


.return-button {
    position: absolute;
    top: 15px;
    left: 15px;
  }

.btn-outline-info
{
    background-color: white;
}

.hoverEffect
{
    transition: transform .2s;
}

.hoverEffect:hover 
{
    transform: scale(1.05);
    box-shadow: 1px 1px 3px #a0a0a077;
}