li
{
    margin-top: 0;
    text-align: left;
}

.newItem
{
    margin-bottom: 20px;
}

label
{
    text-align: left;
    width: 100%;
}

.list-group-item.active
{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,226,89,1) 0%, rgba(255,167,81,1) 100%);
    border: none;
}

#remindersTitle
{
    color: black;
}

.card-body
{
    text-align: left;
}

.moreInfo, .moreInfo:focus, .moreInfo:hover
{
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    outline: none;
}

.deleteBtn, .editBtn, .deleteBtn:focus, .editBtn:focus
{
    float: right;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    outline: none;
}

.deleteBtn:hover, .editBtn:hover
{
    float: right;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
}

.hidden
{
    display: none;
}