p
{
    display: inline-block;
}

#pomodoro-timer
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
}

#myProgress 
{
    width: 100%;
    border-radius: 20px;
    background-color: #f5f5f5;
}
  
#myBar
{
    width: 0%;
    height: 20px;
    border-radius: 20px;
    background-color: #5cb85c;
    margin-bottom: 20px;
}

.timerAlarm, .timerAlarm:focus
{
    position: absolute;
    top: 30px;
    right: 65px;
    transition: transform .2s;
}

.timerNotification, .timerNotification:focus
{
    position: absolute;
    top: 30px;
    right: 30px; 
    transition: transform .2s;
}

.timerAlarm:hover, .timerNotification:hover
{
    text-decoration: none !important;
    transform: scale(1.2);
}
